<h1>Get Ad·ven·tur·ous</h1>
/adˈvenCHərəs,əd-/<br/>
<em>adjective</em><br/>
<strong>1.</strong> willing to take risks or to try out new methods, ideas, or experiences.<br/>
"let's be adventurous"<br/>

<table class="table table-striped">
  <thead>
    <tr>
    	<th>Picture</th>
    	<th>Name</th>
      	<th>Country</th>
      	<th>Description</th>
 <!--     <th>Budget</th>  -->
      	<th>Link</th>
 <!--     <th>More info</th>
      	<th>Completed</th> -->
      	<th>Submitted by</th>
      	<th></th>
      	<th></th>
      	<th></th>
    </tr>
  </thead>

  <tbody>
    <% @adventures.each do |adventure| %>
      <tr>
      	<td><%= image_tag adventure.picture_url(:thumb) if adventure.picture? %></td>
      	<td><%= adventure.name %></td>
		    <td><%= adventure.country %></td>
    	  <td><%= adventure.address do |address| %>
          <%= address.address_name %> 
        <% end %>
        </td>
        <td><%= adventure.description %></td>    
<!--        <td><%= adventure.budget %></td> -->
        <td><%= adventure.link %></td>
<!--    <td><%= adventure.more_info %></td>
        <td><%= adventure.completed %></td> -->
        <td><%= adventure.submitted_by %></td>
        <td><%= link_to 'View', adventure %></td>
        <td><%= link_to 'Edit', edit_adventure_path(adventure) %></td>
        <td><%= link_to 'Delete', adventure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adventure', new_adventure_path %>
