<p id="notice"><%= notice %></p>
<p>
  <%= image_tag(@adventure.picture_url, :width => 600, :align => "right") if @adventure.picture.present? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @adventure.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @adventure.country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @adventure.description %>
</p>

<p><strong>Duration:</strong>
  <%= @adventure.time %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @adventure.budget %>
</p>

<p>
  <strong>More info:</strong>
  <%= @adventure.more_info %>
</p>

<p>
  <strong>Link:</strong>
  <%= link_to @adventure.link %>
</p>

<p>
  <strong>Submitted by:</strong>
  <%= @adventure.submitted_by %>
</p>

<p>
  <strong>Completed:</strong>
  <% if @adventure.completed? %>
    <%= check_box_tag('completed', @adventure.completed, false, :disabled => true) %>
  <% else %>
    Not Yet
  <% end %>
</p>

<%= link_to 'Add Location', new_location_path %> |
<%= link_to 'Edit Adventure', edit_adventure_path(@adventure) %> |
<%= link_to 'Back', adventures_path %>
