<p id="notice"><%= notice %></p>

<p>
  <strong>Address name:</strong>
  <%= @address.address_name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @address.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @address.longitude %>
</p>

<p>
  <strong>Adventure:</strong>
  <%= @address.adventure_id %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
