<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Adventure:</strong>
  <%= @location.adventure_id %>
</p>

<div style='width:800px;'>
	<p>
		<strong>Map:</strong>
	</p>
	<div id="map-canvas" style='width:800px; height:400px;'>
	</div>
	<p>
		<strong>Coords:</strong>
		Lat:<%= @location.latitude %>
		Long: <%= @location.longitude %>
	</p>
</div>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
