<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Get Adventurous |  <%=  content_for?(:title) ? yield(:title) : "Get Adventurous" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Adventures" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCP5NViYBg_el5x_7G8GaKgkxihZig_wvo"></script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(12.0479159,102.3234816),
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      }  
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
       <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
