<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Get Adventurous |  <%=  content_for?(:title) ? yield(:title) : "Get Adventurous" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Adventures" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
       <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
